<!-- maven远程部署的插件 -->
<plugin>
    <groupId>org.apache.tomcat.maven</groupId>
    <artifactId>tomcat7-maven-plugin</artifactId>
    <version>2.2</version>
    <configuration>
        <url>http://localhost:8080/manager/text</url>
        <server>tomcat</server>
        <username>tomcat</username>
        <password>tomcat</password>
        <path>/activiti</path>
        <update>true</update>
        <charset>UTF-8</charset>
    </configuration>
</plugin>