<?xml version="1.0" encoding="UTF-8" ?>
<!--这个文件实在不行就让FreeMarker来动态生成好了-->
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               http://ch.qos.logback/xml/ns/logback/logback.xsd"
               debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH-mm-ss} %highlight(%-5level) %boldYellow(%thread) %cyan(%logger[50]) %boldGreen(%line) %highlight(%n%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>