<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--普通的bean测试-->
    <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseBeanDefinitionAttributes-->
    <bean id="myClass" class="com.ternence.spring.test.MyClass">
        <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseMetaElements-->
        <meta key="test" value="testMeta"/>
        <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseLookupOverrideSubElements-->
        <!--<lookup-method/>-->
        <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseReplacedMethodSubElements-->
        <!--<replaced-method/>-->
        <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseConstructorArgElements-->
        <constructor-arg value="0"/>
        <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parsePropertyElements-->
        <!--<property name="p" value="test properties"/>-->
        <!--org.springframework.beans.factory.xml.BeanDefinitionParserDelegate.parseQualifierElements-->
        <!--<qualifier/>-->
    </bean>

    <!--bean的别名测试-->
    <bean id="car" name="car2,car3,car4"
          class="com.ternence.spring.test.bean.CarFactoryBean">
        <property name="brand" value="玛莎拉蒂"/>
    </bean>

    <alias name="car" alias="car5"/>


    <!--bean的继承测试-->
    <bean id="carTemplate" class="com.ternence.spring.test.bean.Car">
        <property name="brand" value="UNKNOWN"/>
        <property name="color" value="RED"/>
        <property name="price" value="0"/>
    </bean>

    <bean id="benzCar" class="com.ternence.spring.test.bean.BenzCar" parent="carTemplate" scope="prototype">
        <property name="owner" value="陶江航"/>

        <!--bean自带的元数据-->
        <meta key="size" value="size is 10*20*30"/>
    </bean>


    <!--自动注入的demo,我们只是声明了依赖，但是没有显示的-->
    <!--suppress AutowiredDependenciesInspection -->
    <bean class="com.ternence.spring.test.bean.Family" autowire="byName"/>

</beans>