<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描beans-->
    <context:component-scan base-package="com.ternence.transaction.web"/>
    <!--自动注入MappingHandler,MappingAdapterHandler等bean,这样spring才可以处理URL映射-->
    <mvc:annotation-driven/>
    <!--静态资源没有URL映射的，由spring交给default-servlet处理-->
    <mvc:default-servlet-handler/>


</beans>