<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--配置Spring的事务,mybatis-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="password" value="${jdbc.password}"/>

        <property name="initialSize" value="3"/>
        <!--最大可以同时活跃是个连接-->
        <property name="maxActive" value="10"/>
        <!--最小闲置的连接数为1-->
        <property name="minIdle" value="1"/>
    </bean>

    <!--配置mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--mybatis配置文件路径-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--mapper文件路径-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定搜索mapper接口接口的包,必须配置的属性-->
        <property name="basePackage" value="com.ternence.transaction.web.mapper"/>

        <!--扫描指定的注解-->
        <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper"/>

        <!--有多个数据源的时候可以用这个属性指定使用哪个数据源-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置事务通知(切面思想),增强这些类-->
    <!--suppress XmlDefaultAttributeValue -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--
            no-rollback-for:发生那些异常不会回滚
               rollback-for:发生那些异常会回滚
                propagation:传播行为
                  isolation:隔离级别
                   readOnly:是否为只读事务
            -->
            <!--suppress XmlDefaultAttributeValue -->
            <tx:method name="transfer" propagation="REQUIRED" isolation="READ_COMMITTED"
                       no-rollback-for="java.lang.ArithmeticException"/>
        </tx:attributes>
    </tx:advice>

    <!--配置切面-->
    <aop:config>
        <aop:pointcut id="transPointcut"
                      expression="execution(* com.ternence.transaction.web.service.AccountServiceDeclareAopTypeImpl.*(..))"/>
        <!--在这个切入点应用这个增强-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="transPointcut"/>
    </aop:config>
</beans>