<?xml version="1.0" encoding="UTF-8"?>
<!--suppress UnparsedCustomBeanInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.dangdang.com/schema/ddframe/reg
       http://www.dangdang.com/schema/ddframe/reg/reg.xsd http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">

    <description>spring 整合 elastic-job的配置文件</description>

    <!--单节点配置注册中心-->
    <reg:zookeeper id="registryCenter" server-lists="192.168.72.128:2181" namespace="my-jobs"
                   max-retries="3" max-sleep-time-milliseconds="3000"/>

    <!--配置job,每两秒执行一次-->
    <!--必须有id，这就是job的名称，否则抛出以下异常-->
    <!--java.lang.IllegalArgumentException: Invalid path string "//config" caused by empty node name specified -->
    <!--如果只有一个分片,那么将会以1主多从的方式执行任务,只有主服务器挂掉以后才会使用从服务器执行任务,
    所以能保证任务的单一执行-->
    <job:simple id="myPrintServiceTask" class="com.ternence.spring.skills.job.task.MyPrintServiceTask"
                registry-center-ref="registryCenter" cron="0/2 * * * * ?" sharding-total-count="1"
                overwrite="true" sharding-item-parameters="0=A,1=B,2=C" failover="true"/>
</beans>