<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=750px,user-scalable=no"/>
    <title>基本信息</title>
    <style>
        body {
            font-family: SimSun;
        }
    </style>
</head>
<body style="box-sizing: border-box">
<div class="disclosure-wrapper" style="box-sizing: border-box;width: 100%;padding: 5% 20%;">
    <div class="main">
        <div class="title">
            <div>
                <span style="display:inline-block;width:33%;">公司名称</span>
                <span style="display:inline-block;width:13%;">运营状态</span>
                <a style="display:inline-block;width:50%;text-align: right" href="">下载PDF</a>
            </div>
        </div>
        <div class="disclosure-des">
            <h4>通讯信息</h4>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">联系电话:<span>138************</span></div>
                <div style="float:left;width: 50%">电子邮箱:<span>23*********@qq.com</span></div>
            </div>
            <div>
                <div>通讯地址 <span>深圳阳光科创中心</span></div>
            </div>
            <h4>工商信息</h4>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">统一社会信用代码:<span>138************</span></div>
                <div style="float:left;width: 50%">简称:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">注册资本（元）:<span>138************</span></div>
                <div style="float:left;width: 50%">实缴注册资本（元）:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">注册地址:<span>138************</span></div>
                <div style="float:left;width: 50%">经营地址:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div >成立时间: <span>138************</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">营业期限自:<span>138************</span></div>
                <div style="float:left;width: 50%">营业期限至:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div >经营范围: <p style="border: 1px solid #000;padding: 5px;text-align: left">工程勘察设计；施工总承包、专业承包、劳务分包；城市园林绿化；投资管理；资产管理；项目投资；投资咨询；企业管理；经济贸易咨询；销售建筑材料、五金、交电、化工产品（不含危险化学品及易制毒品）、金属材料、金属制品、非金属矿石及制品、电子产品、工艺品（不含文物）、体育用品、专用设备、通用设备、通讯设备、家用电器、照相器材、仪器仪表、太阳能热水器、太阳能灶具、灯具、计算机、软件及辅助设备、办公用机械、办公用文具、服装、鞋帽、针纺织品、日用杂货、第一类医疗器械</p></div>
            </div>
            <h4>备案信息</h4>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">金融监管部门: <span>138************</span></div>
                <div style="float:left;width: 50%">备案登记时间: <span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">备案登记编号: <span>138************</span></div>
                <div style="float:left;width: 50%">电信业务许可证号: <span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">资金存管银行:<span>138************</span></div>
                <div style="float:left;width: 50%">网站备案图标与编号:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">存管协议:<img src=""/></div>
                <div style="float:left;width: 50%">电信业务许可证:<img src=""/></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">风险管理信息:<span>138************</span></div>
                <div style="float:left;width: 50%">组织机构:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 50%">从业人员概况:<span>138************</span></div>
                <div style="float:left;width: 50%">渠道信息:<span>23*********@qq.com</span></div>
            </div>
            <div style="overflow:hidden;padding: 1% 0">
                <div >风控措施: <p style="border: 1px solid #000;padding: 5px;text-align: left">工程勘察设计；施工总承包、专业承包、劳务分包；城市园林绿化；投资管理；资产管理；项目投资；投资咨询；企业管理；经济贸易咨询；销售建筑材料、五金、交电、化工产品（不含危险化学品及易制毒品）、金属材料、金属制品、非金属矿石及制品、电子产品、工艺品（不含文物）、体育用品、专用设备、通用设备、通讯设备、家用电器、照相器材、仪器仪表、太阳能热水器、太阳能灶具、灯具、计算机、软件及辅助设备、办公用机械、办公用文具、服装、鞋帽、针纺织品、日用杂货、第一类医疗器械</p></div>
            </div>
            <h4>主要人员信息</h4>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 23%;border: 1px solid #000;text-align: center">法定代表人</div>
                <div style="float:left;width: 23%;border: 1px solid #000;text-align: center;margin-left:2%;">董事</div>
                <div style="float:left;width: 23%;border: 1px solid #000;text-align: center;margin-left:2%;">高级管理人员</div>
                <div style="float:left;width: 23%;border: 1px solid #000;text-align: center;margin-left:2%;">高级管理人员</div>
            </div>
            <h4>股东信息</h4>
            <table border="1" cellspacing="0" style="width:100%;">
                <tr>
                    <th>序号</th>
                    <th>股东类型</th>
                    <th>股东全称</th>
                    <th>股东股权占比</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>控股</td>
                    <td>XXXX</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>参股</td>
                    <td>XXXX</td>
                    <td>20%</td>
                </tr>
            </table>
            <h4>关联人信息</h4>
            <div ><p style="border: 1px solid #000;padding: 5px;text-align: center">暂无信息</p></div>
            <h4>分支机构</h4>
            <div ><p style="border: 1px solid #000;padding: 5px;text-align: center">暂无信息</p></div>
            <h4>审核信息</h4>
            <div style="overflow:hidden;padding: 1% 0">
                <div style="float:left;width: 32%;border: 1px solid #000;text-align: center">上一年度财务审计报告</div>
                <div style="float:left;width: 32%;border: 1px solid #000;text-align: center;margin-left:1%;">
                    经营合规重点环节的审计报告</div>
                <div style="float:left;width: 32%;border: 1px solid #000;text-align: center;margin-left:1%;">上一年度合规性审核报告</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
