<?xml version="1.0" encoding="UTF-8" ?>
<!--这个文件实在不行就让FreeMarker来动态生成好了-->
<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--Console中这个配置不需要-->
            <!--logback使用的是TOMCAT启动时候默认使用的编码，也就是操作系统使用的编码GBK，
            所以强制编码会乱码的-->
            <charset>GBK</charset>
            <pattern>%d{yyyy-MM-dd HH-mm-ss} [%thread] %-5level %-5logger %n%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>